*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 47px  0  209.2px  42px;
}

.link-header {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color:  #17233D;
    cursor:pointer;
    margin-right: 32px;
    margin-left: 4px;
}
.button-header{
    width: 124px;
    height: 51px;
    border-radius: 6px;
    background: #6FBF44;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
    cursor: pointer;
    
}

.logo-image{
    width: 533.834px;
    height: 466.9px;
    margin-left: 121px;
    display:inline-block;
}
div{
    display: inline-block;
    margin: 96.83px;
}
h1{
    font-weight: 700;
    line-height: 82px;
    font-size: 62px;
    color: #161A49;
    width: 582px;
}
p{
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    color: #4B505A;
    width: 493px;
    margin-top:47px;
    margin-bottom: 55px;
}
.button-main{
    border-radius: 6px;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    border: none;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}

@media (max-width: 900px){
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;

    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }


    h1 {
        font-size: 30px;
        line-height: 30px;
        width: auto;
        margin: 124px 57px 0 55px;
        text-align: center;
    }

    .logo-image{
        position: static;
        width: 312px;
    }

    header {
        display: none;
    }


    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 330px) {
    .container-left {
        height: 52%;
    }
}