*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li:first-child {
    color: red;
}

span:first-of-type {
    color: red;
}

P:last-child{
    color:red
}

.container:not(p){
    color:blueviolet
}
